.wholescreensidebar {
  height:100vh;
  width: 100vw;
  position:fixed;
  z-index: 111;
  background: rgba( 0, 0, 0, 0.2 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5.5px );
  -webkit-backdrop-filter: blur( 5.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.sidebar{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right:0;
    background-color: #fff;
    /* margin-top:100px ; */
    width: 300px;
    height: 100%;
    z-index: 111;
}
.sidebar a {
    padding: 10px 50px;
    cursor: pointer;
}
.closesection{
    margin-top: 20px;
    padding: 10px 50px;
    
}
.crossicon{
    cursor: pointer;
    float: right;
}
.lang{
    cursor: pointer;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding: 10px 50px;
    font-size: 13px;
}
.glob{
    padding-right: 10px;
}
